@import "const";

@text-color: #5b5b5b;

body {
    background-image: url("@{image-root}/background.png");

    color: @text-color;
}

@margin: 20px;
@shadow-color: rgba(0, 0, 0, 0.1);

h1, h2, h3 {
    text-shadow: 0 2px 0px rgba(255, 255, 255, 1);
}

.system-code,
.channels {
    margin-top: @margin;
    margin-bottom: @margin;
}

.new-system {
    padding-top: 2 * @margin;
    padding-bottom: 2 * @margin;

    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

    box-shadow: inset 0 5px 5px @shadow-color, inset 0 -5px 5px @shadow-color;

    background-color: #fff;

    display: none;

    p.lead {
        padding-bottom: @margin;

        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .system-name {
        height: auto;
        width: 100%;

        font-size: 40px;

        line-height: normal;
    }

    .channels {
        input {
            display: block;

            margin: @margin / 2;
        }
    }
}

.switch {

    height: 114px;
    width: 84px;

    display: inline-block;

    background-repeat: no-repeat;
    background-position: 0% 0%;

    cursor: pointer;

    &.on {
        background-image: url("@{image-root}/switch-on.png");
    }

    &.off {
        background-image: url("@{image-root}/switch-off.png");
    }

}

.systems {

    .system {
        display: none;

        position: relative;

        .channel {
            label {
                float: left;
                position: relative;

                top: 12px;

                font-size: 20px;

                width: 250px;
            }

            .switch {
                width: 111px;
                height: 54px;

                &.on {
                    background-image: url("@{image-root}/channel-on.png");
                }

                &.off {
                    background-image: url("@{image-root}/channel-off.png");
                }
            }
        }
    }

    .loading {
        margin: 50px;

        font-size: 30px;
        opacity: 0.5;

        text-shadow: 0 2px 0px #fff;
        text-align: center;
    }
}
