<html>
<head>
    <title>Switchr</title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/css/lib/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/css/switchr.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/class.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/switchr.js"></script>
</head>
<body>

    <div class="container">
        <div class="page-header">
            <h1>Switchr</h1>
        </div>

        <h3>System Code</h3>
        <div class="system-code"></div>


        <h3>Plug Control</h3>
        <div class="plugs"></div>
    </div>

</body>
</html>
